.npmrc
.DS_Store
**/node_modules
**/dist
**/build
**/coverage
node

#ignore types
im_library/types

# local env files
**/.env.**

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#amplify
ui/amplify/\#current-cloud-backend
ui/amplify/.config/local-*
ui/amplify/logs
ui/amplify/mock-data
ui/amplify/backend/amplify-meta.json
ui/amplify/backend/awscloudformation
ui/amplify/backend/.temp
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

out
.idea
.metadata
.gradle
.vscode
target
*.iml
*.settings
*.project
*.classpath
coverage

# Ignore Gradle build output directory
build
.env
