html {
  font-family:
    "Inter var",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-size: 14px;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--ground-background);
  font-weight: normal;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --hyperlink-blue: #2196f3;
}

:root {
  --imquery-editor-background-color: #6bb28c10;
  --imquery-editor-border-color: #6bb28c30;
  --imquery-editor-hover-border-color: #6bb28c;
}
