.p-tree-node-content {
  @apply p-0;
}

.p-drawer-mask {
  z-index: 1;
}

.p-toast-message-text {
  width: calc(100% - 4rem);
}

.p-toast-message-content {
  width: 100%;
}

.p-toast-detail {
  width: 100%;
  word-wrap: break-word;
}

.p-dialog-header-icons {
  flex: 1 0 auto;
  justify-content: flex-end;
}

.p-progressspinner {
  overflow: hidden;
}

.p-button-link {
  font-size: unset;
  padding: 0;
}

.p-splitter-gutter {
  z-index: unset;
}

.p-datatable-thead {
  z-index: unset;
}
